:root {
  --primaryColor: #39a6a3;
  --infoColor: #3d8bfd;
  --backgroundColor: #e3e3e3;
  --dangerColor: #cc2929;
  --warningColor: #ed9f18;
  --successColor: #36b267;
  --lightColor: #ffffff;
  --darkColor: #000000;
}


  /* RESET */
* {
    box-sizing: border-box;
}

.error {
  margin-left: 2px;
  font-weight: bold;
  color: var(--dangerColor);
}

body {
  margin: 0;
  background-color: var(--backgroundColor);
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primaryColor);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
}

h2, h3, h4, h5, h6, p {
  font-family: "Roboto", sans-serif;
}
.justificar {
  text-align: justify;
}

/* Navbar */
#oyeNav {
  min-height: 50px;
  min-width: 50px;
  text-align: start;
  color: var(--primaryColor);
  font-weight: bold;
}

.navbar {
  background-color: var(--lightColor);
  box-shadow: 0 6px 6px -3px #999;
}

.navbar #navbarButton,
.navbar .navbar-brand,
#navbarOptions .nav-link {
  color: var(--primaryColor);
}

.navbar #navbarButton:hover {
  color: var(--darkColor);
}
.navbar .navbar-brand:hover {
  color: var(--darkColor);
}
.navbar #navbarOptions .nav-link:hover {
  color: var(--darkColor);
}

.navbar #navbarOptions .nav-link.active, 
.navbar #navbarOptions .loginButton1.active,
.navbar .loginButton2.active{
  color: var(--darkColor);
  background-color: var(--lightColor);
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  font-weight: bold;
}

.navbar #navbarButton {
  border: none;
  margin-left: 1px;
}
.navbar #logo1 {
  justify-content: flex-start;
  margin-left: 5px;
}
.navbar #navbarOptions .nav-link {
  margin: 0px 10px;
}
.navbar .loginButton1,
.navbar .loginButton2 {
  border: solid 1px var(--lightColor);
  margin-right: 3px;
}

.navbar .op-user {
  padding-right: 5px;
}

.navbar .op-user .nav-link {
  color: var(--lightColor);
}

@media (min-width: 0px) {
  .navbar #logo1 {
    justify-content: flex-start;
    display: flex;
    max-width: 50px;
    max-height: 50px;
  }
}

.navbar-collapse {
  justify-content: center;
}

@media (min-width: 0px) {
  .navbar .loginButton1 {
    display: flex;
  }
  .navbar .loginButton2 {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar .loginButton1 {
    display: none;
  }
  .navbar .loginButton2 {
    display: flex;
  }
}

@media (min-width: 0px) {
  .navbar #userButton1 {
    display: flex;
  }
  .navbar #userButton2 {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar #userButton1 {
    display: none;
  }
  .navbar #userButton2 {
    display: flex;
  }
}


/* Footer */
footer {
  background-color: var(--primaryColor);
  color: var(--lightColor);
  margin-top: auto;
  z-index: 99999;
}
footer a {
  color: var(--lightColor);
}

@media (max-width: 425px) {
  #footer1 {
    display: none;
  }
  #footer2 {
    text-align: center;
  }
}

@media (min-width: 426px) {
  #footer1 {
    text-align: start;
  }
  #footer2 {
    text-align: end;
  }
}
/* Buttons */
.btn-primary, .btn-primary:focus {
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  font-weight: bold;
  font-family: var(--bs-font-sans-serif);
  cursor: pointer;
  transition: all 2s;
}

.btn-primary:hover {
  background-color: var(--lightColor);
  color: var(--primaryColor);
  font-weight: bold;
  border: 1px solid var(--primaryColor);
  box-shadow: 500px 0 var(--lightColor) inset, -500px 0 var(--lightColor) inset;
}

.btn-info, .btn-info:focus {
  background-color: var(--infoColor);
  border: 1px solid var(--infoColor);
  color: var(--lightColor);
  font-weight: bold;
  font-family: var(--bs-font-sans-serif);
  cursor: pointer;
  transition: all 2s;
}

.btn-info:hover {
  background-color: var(--lightColor);
  color: var(--infoColor);
  font-weight: bold;
  border: 1px solid var(--infoColor);
  box-shadow: 500px 0 var(--lightColor) inset, -500px 0 var(--lightColor) inset;
}

.btn-danger, .btn-danger:focus {
  background-color: var(--dangerColor);
  border: 1px solid var(--dangerColor);
  font-weight: bold;
  font-family: var(--bs-font-sans-serif);
  cursor: pointer;
  transition: all 2s;
}

.btn-danger:hover {
  background-color: var(--lightColor);
  color: var(--dangerColor);
  font-weight: bold;
  border: 1px solid var(--dangerColor);
  box-shadow: 500px 0 var(--lightColor) inset, -500px 0 var(--lightColor) inset;
}

label {
  color: var(--darkColor);
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 11px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 40px;
}
.right-addon input {
  padding-right: 30px;
}

/* Inicio */
.oyeNombreLogo {
  min-height: 50px;
  min-width: 50px;
  text-align: center;
  color: var(--primaryColor);
  font-weight: bold;
}

#rotarImagen{
  transform: rotateX(180deg);
  -webkit-filter: contrast(1.5); /* 1.5 = 150% */ 
  filter: contrast(1.5);
  -webkit-filter: hue-rotate(180deg); 
  filter: hue-rotate(180deg); 
}

@media (max-width: 426px) {
  #nombre0,#nombre1,#nombre2,#nombresHead {
    display: none;
  }
}

#contenedorInicio {
  background-color: var(--backgroundColor);
}

#contacto {
  color: var(--lightColor);
}
#contacto .form-group label {
  color: var(--lightColor);
}

.slider-desc{
  color: var(--lightColor);
    text-shadow: 1px 1px 1px rgb(255 255 255), -1px -1px 1px rgb(0 0 0 / 40%);
    font-size: x-large;
}

.slider-sub{
  background-color: var(--primaryColor);
  color: var(--lightColor);
}
.slider-logo{
  height: 400px;
}

.slider-img{
  opacity: 50%;
}